<h1><%= link_to @book.title, book_path(@book) %></h1>
<h2><%= link_to @chapter.title, book_chapter_path(@book, @chapter) %></h2>
<% @sections.each do |section| %>
  <h4><%= link_to section.title, book_chapter_section_path(@book, @chapter, section) %>
  </h4>  
<% end %>
<%= link_to "Add Section", new_book_chapter_section_path(@book, @chapter), class: "btn btn-primary" %>